<div id="header" class="section">
  <a routerLink="/settings">
    <button mat-fab color="basic">
      <mat-icon>settings</mat-icon>
    </button>
  </a>
  <button mat-raised-button color="primary" id="btnFeed">Füttern</button>
  <button mat-fab color="basic">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-icon id="icnConnection">signal_wifi_4_bar</mat-icon>
</div>
<div id="routerOutlet" [@routeAnimations]="getRouteAnimationData(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
