#header {
  height: 10%;
  z-index: 2;

  #btnFeed {
    height: 100% !important;
    min-height: unset !important;
    width: 35% !important;
    min-width: unset !important;
    font-size: large;
  }
}
