#foodPlanDisplay {
  height: 40%;

  #foodPlanTitle {
    margin: 0;
    flex: 1 1 1;
  }

  #foodPlanTime {
    font-size: 5em;
  }
}

#status {
  height: 25%;
}

#history {
  height: 25%;

  #btnZoom {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
