#foodPlanDisplay {
  height: 50%;

  #foodPlanTitle {
    margin: 0;
    padding: 0 1em 0 1em;
    flex: 1 1 1;

    span {
      font-weight: 100;
      position: absolute;
      left: 2em;
    }
  }

  #foodPlanTime {
    text-align: center;
    #divFoodPlanNextValue {
      font-size: 5em;
    }
  }
}

#status {
  height: 25%;

  div {
    box-shadow: none;
  }
}

#history {
  height: 25%;

  #btnZoom {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
