<div id="foodPlanDisplay" class="section vertical">
  <h3 id="foodPlanTitle">Plan: "Fritzchen"</h3>
  <mat-divider></mat-divider>
  <div>
    <span>Details</span>
    <div id="foodPlanDetails">Typ: Feste Uhrzeit Wann:</div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <span>Nächste Fütterung</span>
    <div id="foodPlanTime">18:20</div>
  </div>
  <a routerLink="/schedules" class="navVertical right" matRipple>
    <mat-icon>navigate_next</mat-icon>
  </a>
</div>
<div id="status" class="section">
  <div class="section vertical">
    <label>Behälter:</label>
    <ng-template [ngIf]="MachineStatus" [ngIfElse]="noLoadData">
      <label>{{ MachineStatus.ContainerLoad }}g</label>
    </ng-template>
  </div>
  <div class="section vertical">
    <label>Fressnapf:</label>
    <ng-template [ngIf]="MachineStatus" [ngIfElse]="noLoadData">
      <label>{{ MachineStatus.PlateLoad }}g</label>
    </ng-template>
  </div>
  <ng-template #noLoadData>
    <ng-template [ngIf]="!Loading" [ngIfElse]="notLoading">
      <label>-</label>
    </ng-template>
    <ng-template #notLoading>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </ng-template>
</div>
<div id="history" class="section">
  <a routerLink="/history">
    <button
      id="btnZoom"
      mat-mini-fab
      color="basic"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>zoom_in</mat-icon>
    </button>
  </a>
</div>
