<div id="foodPlanDisplay" class="section vertical">
  <ng-template [ngIf]="currentSchedule" [ngIfElse]="noScheduleData">
    <h3 id="foodPlanTitle">
      <span
        [ngClass]="{
          activeText: currentSchedule.Active,
          pausedText: !currentSchedule.Active
        }"
        >{{ currentSchedule.Active ? "Aktiv " : "Pausiert " }}</span
      >
      Plan:
      {{ currentSchedule.Name ? currentSchedule.Name : "-" }}
    </h3>
    <mat-divider></mat-divider>
    <div>
      <div id="foodPlanDetails">
        <ng-container [ngSwitch]="true">
          <div *ngSwitchCase="currentSchedule.Mode == EScheduleMode.MaxTimes">
            <div>Typ: Nach Anzahl</div>
            <div>
              Maximal {{ currentSchedule.MaxTimes }} Fütterungen pro Tag
            </div>
            <div>
              Start: {{ getTimestamp(currentSchedule.MaxTimesStartTime!) }}
            </div>
          </div>
          <div
            *ngSwitchCase="currentSchedule.Mode == EScheduleMode.FixedDaytime"
          >
            <div>Typ: Nach Uhrzeit</div>
            <div *ngIf="currentSchedule.Daytimes">
              <div>
                <span>Wann: </span>
                <span
                  *ngFor="let date of currentSchedule.Daytimes; let i = index"
                  >{{ getTimestamp(date)
                  }}{{
                    i + 1 < currentSchedule.Daytimes.length ? ", " : ""
                  }}</span
                >
              </div>
            </div>
            <div *ngIf="currentSchedule.OnlyWhenEmpty">
              Warten bis der Fressnapf leer ist
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div id="foodPlanTime">
      <ng-container *ngIf="nextFeedingTime">
        <span>Nächste Fütterung</span>
        <div
          id="divFoodPlanNextValue"
          [class.disabledText]="!currentSchedule.Active"
        >
          {{ getTimestamp(nextFeedingTime) }}
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          currentSchedule && currentSchedule.Mode == EScheduleMode.MaxTimes
        "
      >
        <span>Verbleinde Fütterungen</span>
        <div id="divFoodPlanNextValue">
          {{ currentSchedule.MaxTimes }}
        </div>
      </ng-container>
    </div>
    <ng-template [ngIf]="!UpdatingActivity" [ngIfElse]="activityUpdating">
      <ng-template [ngIf]="currentSchedule.Active" [ngIfElse]="showPlayButton">
        <button mat-fab color="basic" (click)="toggleScheduleActive(false)">
          <mat-icon>pause</mat-icon>
        </button>
      </ng-template>
      <ng-template #showPlayButton>
        <button mat-fab color="basic" (click)="toggleScheduleActive(true)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </ng-template>
    </ng-template>
    <ng-template #activityUpdating>
      <button mat-fab color="basic">
        <mat-spinner diameter="20"></mat-spinner>
      </button>
    </ng-template>
  </ng-template>
  <ng-template #noScheduleData>
    <ng-template [ngIf]="!FetchingSchedule" [ngIfElse]="LoadingScheduleSpinner">
      <label>Kein aktiver Futterplan</label>
    </ng-template>
    <ng-template #LoadingScheduleSpinner>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </ng-template>
  <a routerLink="/schedules" class="navVertical right" matRipple>
    <mat-icon>navigate_next</mat-icon>
  </a>
</div>

<div id="status" class="section">
  <div
    class="section vertical"
    [ngClass]="{
      zeroWeight: MachineStatus != null && MachineStatus.ContainerLoad <= 0
    }"
  >
    <div class="svgContainer">
      <img src="assets/futtertank_schale.svg" width="100" height="100" />
      <div class="svgSlider" [style.height.%]="containerLoadPercentage">
        <img src="assets/futtertank_fuellung.svg" width="100" height="100" />
      </div>
    </div>
    <label>Behälter:</label>
    <ng-template [ngIf]="MachineStatus" [ngIfElse]="noLoadData">
      <label>{{ MachineStatus.ContainerLoad }}g</label>
    </ng-template>
  </div>
  <div
    class="section vertical"
    [ngClass]="{
      zeroWeight: MachineStatus != null && MachineStatus.PlateLoad <= 0
    }"
  >
    <div class="svgContainer">
      <img src="assets/futternapf_schale.svg" width="100" height="100" />
      <div class="svgSlider" [style.height.%]="plateLoadPercentage">
        <img src="assets/futternapf_fuellung.svg" width="100" height="100" />
      </div>
    </div>
    <label>Fressnapf:</label>
    <ng-template [ngIf]="MachineStatus" [ngIfElse]="noLoadData">
      <label>{{ math.max(MachineStatus.PlateLoad, 0) }}g</label>
    </ng-template>
  </div>
  <ng-template #noLoadData>
    <ng-template [ngIf]="!LoadingStatus" [ngIfElse]="LoadingStatus">
      <label>-</label>
    </ng-template>
    <ng-template #LoadingStatus>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </ng-template>
</div>

<div id="history" class="section">
  <!--<highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
    style="width: 100%; height: 100%; display: block"
  ></highcharts-chart>
  <button
    id="btnZoom"
    mat-mini-fab
    color="basic"
    aria-label="Example icon button with a home icon"
  >
    <a routerLink="/history">
      <mat-icon>zoom_in</mat-icon>
    </a>
  </button>-->
</div>
