#foodPlanDisplay {
  height: 50%;

  #foodPlanTitle {
    margin: 0;
    padding: 0 1em 0 1em;
    flex: 1 1 1;

    span {
      font-weight: 100;
      position: absolute;
      left: 2em;
    }
  }

  #foodPlanTime {
    text-align: center;
    #divFoodPlanNextValue {
      font-size: 5em;
    }
  }
}

.disabledText {
  color: #d7d7d7;
}

#status {
  height: 25%;

  .svgContainer {
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 15px;

    .svgSlider {
      overflow: hidden;
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    img {
      position: absolute;
      bottom: -15px;
    }
  }

  div {
    box-shadow: none;
  }
}

#history {
  height: 25%;
  overflow: hidden;

  #btnZoom {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
