<div class="section vertical" id="divSchedules">
  <h4>Futterpläne</h4>
  <div id="divScheduleList" *ngIf="schedules.length > 0; else noSchedule">
    <mat-selection-list
      [formControl]="schedulesListControl"
      [multiple]="false"
      [hideSingleSelectionIndicator]="true"
    >
      <div *ngFor="let schedule of schedules">
        <mat-list-option
          [value]="schedule"
          [ngClass]="{ selected: schedule.Selected }"
        >
          {{ schedule.Name }}
          <span
            *ngIf="schedule.Selected"
            style="float: right; margin-right: 3em"
            [ngClass]="{
              activeText: schedule.Active,
              pausedText: !schedule.Active
            }"
            >{{ schedule.Active ? "Aktiv" : "Pausiert" }}</span
          >
        </mat-list-option>

        <span
          class="listActiveButton"
          (click)="toggleScheduleActive(schedule, !schedule.Active)"
        >
          <ng-container
            *ngIf="toggledScheduleID == schedule.ID; else playSchedule"
          >
            <mat-spinner diameter="20"></mat-spinner>
          </ng-container>
          <ng-template #playSchedule>
            <ng-container *ngIf="!schedule.Active; else pauseSchedule">
              <mat-icon>play_arrow</mat-icon></ng-container
            >
          </ng-template>
          <ng-template #pauseSchedule> <mat-icon>pause</mat-icon></ng-template>
        </span>
      </div>
    </mat-selection-list>
  </div>
  <ng-template #noSchedule>
    <ng-template [ngIf]="!FetchingSchedules" [ngIfElse]="LoadingSchedules">
      <span>Keine Futterpläne</span>
    </ng-template>
    <ng-template #LoadingSchedules>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </ng-template>
  <button
    id="btnAdd"
    mat-fab
    color="basic"
    (click)="btnAdd()"
    disabled="{{ FetchingSchedules }}"
  >
    <mat-icon>add</mat-icon>
  </button>
  <a (click)="navBack()" class="navVertical left" matRipple>
    <mat-icon>navigate_before</mat-icon>
  </a>
</div>

<div class="section vertical" id="selectedSchedule">
  <ng-template [ngIf]="selectedSchedule" [ngIfElse]="noScheduleSelected">
    <div id="divSaveOrDeleteOverlay" *ngIf="saveOrDeletingSchedule">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div id="divForm">
      <div id="divScheduleBasicData" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selectedSchedule.Name" required />
        </mat-form-field>
        <button
          *ngIf="selectedSchedule.ID"
          mat-mini-fab
          color="warn"
          id="btnDelete"
          (click)="openDeleteDialog('0ms', '0ms')"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div id="divScheduleMode" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Modus</mat-label>
          <mat-select
            id="scheduleMode"
            required
            [(ngModel)]="selectedSchedule.Mode"
            name="mode"
          >
            <mat-option *ngFor="let modeID of modeIDs" [value]="modeID">
              <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="modeID == EScheduleMode.Max">
                  Nach Anzahl
                </div>
                <div *ngSwitchCase="modeID == EScheduleMode.FixedDaytime">
                  Nach Uhrzeit
                </div>
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container [ngSwitch]="true">
          <div *ngSwitchCase="selectedSchedule.Mode == EScheduleMode.Max">
            <div id="divMaxTimes">
              <app-counter
                [value]="selectedSchedule.MaxTimes!"
                [step]="1"
                [min]="1"
                [max]="99"
                [wrap]="false"
                (valueChanged)="onMaxTimesChanged($event)"
              >
              </app-counter>
              <mat-form-field appearance="fill">
                <mat-label>Start</mat-label>
                <input
                  matInput
                  #inpMaxTimeStartDisplay
                  id="inpMaxTimeStartDisplay"
                  value="{{
                    getTimestamp(selectedSchedule.MaxTimesStartTime!)
                  }}"
                  (click)="onMaxTimeStartDisplayClick($event)"
                />
              </mat-form-field>
              <input
                [(ngModel)]="maxTimesStartPickerOutput"
                (ngModelChange)="onMaxTimeStartInput($event)"
                [ngxMatTimepicker]="pickerStartTime"
                id="inpMaxTimesStart"
                #inpMaxTimesStart
                type="hidden"
                [format]="24"
                [value]="getTimestamp(selectedSchedule.MaxTimesStartTime!)"
                required
              />
              <ngx-mat-timepicker #pickerStartTime></ngx-mat-timepicker>
            </div>
          </div>
          <div
            *ngSwitchCase="selectedSchedule.Mode == EScheduleMode.FixedDaytime"
          >
            <div>
              <mat-label>Uhrzeiten*</mat-label>
              <div id="dayTimesWrapper">
                <div id="dayTimesListWrapper">
                  <mat-chip
                    *ngFor="let daytime of selectedSchedule.Daytimes"
                    (removed)="removeDaytime(daytime)"
                  >
                    {{ getTimestamp(daytime) }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </div>
                <button
                  id="btnAddDaytime"
                  mat-mini-fab
                  (click)="btnAddDaytime()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <input
              [ngxMatTimepicker]="dayTimesPicker"
              type="hidden"
              id="scheduleDayTimeInput"
              #scheduleDayTimeInput
              [format]="24"
              [(ngModel)]="dayTimesPickerOutput"
              (ngModelChange)="onDayTimeInput($event)"
            />
            <ngx-mat-timepicker #dayTimesPicker></ngx-mat-timepicker>
          </div>
        </ng-container>
      </div>

      <div
        id="divOnlyWhenEmpty"
        class="form-group"
        *ngIf="selectedSchedule.Mode == EScheduleMode.FixedDaytime"
      >
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="selectedSchedule.OnlyWhenEmpty"
          >Warten bis der Fressnapf leer ist</mat-checkbox
        >
      </div>
    </div>

    <mat-divider></mat-divider>

    <div id="divFooter">
      <button
        mat-raised-button
        color="basic"
        id="btnCancel"
        (click)="btnCancel()"
      >
        Abbrechen
      </button>
      <button
        mat-raised-button
        color="primary"
        id="btnSave"
        (click)="btnSave()"
      >
        Speichern
      </button>
    </div>
  </ng-template>
  <ng-template #noScheduleSelected>Kein Futterplan ausgewählt</ng-template>
</div>
