#divSchedules {
  height: 50%;

  #btnAdd {
    position: absolute;
    right: 2em;
    bottom: 2em;
  }

  #divScheduleList {
    width: 100%;

    mat-list-option {
      position: relative;
      z-index: 1;
    }

    .listActiveButton {
      right: 1em;
      width: 2em;
      position: absolute;
      transform: translateY(-35px);
      z-index: 9999;
    }

    .selected {
      border-style: solid none solid none;
      border-radius: 1px;
      border-color: rgb(158, 184, 255);
    }
  }

  #divNoSchedule {
    position: absolute;
    align-self: center;
    justify-self: center;
  }
}

.list {
  justify-content: start;
  align-items: start;
  padding-left: 2em;
  padding-top: 0;
  width: 100%;
}

#selectedSchedule {
  height: 50%;
  position: relative;
  padding: 1em 2em 1em 2em;

  #divForm {
    height: 80%;
    width: 100%;

    #btnDelete {
      float: right;
    }

    #dayTimesWrapper {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      #dayTimesListWrapper {
        border-radius: 0.5em;
        background-color: #f5f5f5;
        padding: 1em 0 1em 0;
        display: inline-flex;
        width: 80%;
        overflow-x: scroll;

        mat-chip {
          margin-right: 1em;
        }
      }
    }
  }

  #divFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 20%;

    button {
      height: 60% !important;
      min-height: unset !important;
      width: 30% !important;
      min-width: unset !important;
      font-size: large;
      padding: auto;
    }
  }
}
