<div
  class="section"
  [ngClass]="{ list: schedules.length > 0 }"
  id="divSchedules"
>
  <div id="divScheduleList" *ngIf="schedules.length > 0; else noSchedule">
    <mat-selection-list
      [formControl]="schedulesListControl"
      [multiple]="false"
      [hideSingleSelectionIndicator]="true"
    >
      <div *ngFor="let schedule of schedules">
        <mat-list-option
          [value]="schedule"
          [ngClass]="{ selected: schedule.Selected }"
        >
          {{ schedule.Name }}
          <span
            *ngIf="schedule.Selected"
            style="float: right; margin-right: 3em"
            [ngClass]="{
              activeText: schedule.Active,
              pausedText: !schedule.Active
            }"
            >{{ schedule.Active ? "Aktiv" : "Pausiert" }}</span
          >
        </mat-list-option>

        <span
          class="listActiveButton"
          (click)="toggleScheduleActive(schedule, !schedule.Active)"
          ><mat-icon *ngIf="!schedule.Active">play_arrow</mat-icon>
          <mat-icon *ngIf="schedule.Active">pause</mat-icon>
        </span>
      </div>
    </mat-selection-list>
  </div>
  <ng-template #noSchedule>
    <ng-template [ngIf]="!Loading" [ngIfElse]="LoadingSchedules">
      <div id="divNoSchedule">Keine Futterpläne</div>
    </ng-template>
    <ng-template #LoadingSchedules>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </ng-template>
  <button id="btnAdd" mat-fab color="basic" (click)="btnAdd()">
    <mat-icon>add</mat-icon>
  </button>
  <a (click)="navBack()" class="navVertical left" matRipple>
    <mat-icon>navigate_before</mat-icon>
  </a>
</div>
<div class="section vertical" id="selectedSchedule">
  <ng-template [ngIf]="selectedSchedule" [ngIfElse]="noScheduleSelected">
    <div id="divForm">
      <div id="divScheduleBasicData" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selectedSchedule.Name" required />
        </mat-form-field>
        <button
          *ngIf="selectedSchedule.ID"
          mat-mini-fab
          color="warn"
          id="btnDelete"
          (click)="openDeleteDialog('0ms', '0ms')"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div id="divScheduleMode" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Modus</mat-label>
          <mat-select
            id="scheduleMode"
            required
            [(ngModel)]="selectedSchedule.Mode"
            name="mode"
          >
            <mat-option *ngFor="let modeID of modeIDs" [value]="modeID">
              <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="modeID == EScheduleMode.Max">
                  Nach Anzahl
                </div>
                <div *ngSwitchCase="modeID == EScheduleMode.FixedDaytime">
                  Nach Uhrzeit
                </div>
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container [ngSwitch]="true">
          <div *ngSwitchCase="selectedSchedule.Mode == EScheduleMode.Max">
            <app-counter
              [value]="selectedSchedule.MaxTimes || 0"
              [step]="1"
              [min]="0"
              [max]="99"
              [wrap]="false"
              (valueChanged)="onMaxTimesChanged($event)"
            >
            </app-counter>
          </div>
          <div
            *ngSwitchCase="selectedSchedule.Mode == EScheduleMode.FixedDaytime"
          >
            <div>
              <mat-label>Uhrzeiten</mat-label>
              <div id="dayTimesWrapper">
                <div id="dayTimesListWrapper">
                  <mat-chip
                    *ngFor="let daytime of selectedSchedule.Daytimes"
                    (removed)="removeDaytime(daytime)"
                  >
                    {{ getTimestamp(daytime) }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </div>
                <button
                  id="btnAddDaytime"
                  mat-mini-fab
                  (click)="btnAddDaytime()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <input
              [ngxMatTimepicker]="picker"
              type="hidden"
              id="scheduleTimeInput"
              #scheduleTimeInput
              [(ngModel)]="myValue"
              (ngModelChange)="onTimeInput($event)"
            />
            <ngx-mat-timepicker #picker></ngx-mat-timepicker>
          </div>
        </ng-container>
      </div>

      <div
        id="divOnlyWhenEmpty"
        class="form-group"
        *ngIf="selectedSchedule.Mode == EScheduleMode.FixedDaytime"
      >
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="selectedSchedule.OnlyWhenEmpty"
          >Warten bis der Fressnapf leer ist</mat-checkbox
        >
      </div>
    </div>

    <mat-divider></mat-divider>

    <div id="divFooter">
      <button
        mat-raised-button
        color="basic"
        id="btnCancel"
        (click)="btnCancel()"
      >
        Abbrechen
      </button>
      <button
        mat-raised-button
        color="primary"
        id="btnSave"
        (click)="btnSave()"
      >
        Speichern
      </button>
    </div>
  </ng-template>
  <ng-template #noScheduleSelected>Kein Futterplan ausgewählt</ng-template>
</div>
